In [4]:
import pandas as pd

FILE_NAME = 'tw_source.csv'
colnames=['timestamp', 'date', 'query', 'user', 'text']

In [8]:
print(f"Reading file: {FILE_NAME}")
df_file = pd.read_csv(FILE_NAME,  names=colnames, header=None, encoding='ISO-8859-1')
print(f"Dimensions of the dataframe: {df_file.shape}")

Reading file: tw_source.csv
Dimensions of the dataframe: (1600000, 5)

In [9]:
df_file.head()

,timestamp,date,query,user,text
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

In [11]:
df_file.describe()

          timestamp
count  1.600000e+06
mean   1.998818e+09
std    1.935761e+08
min    1.467810e+09
25%    1.956916e+09
50%    2.002102e+09
75%    2.177059e+09
max    2.329206e+09

In [20]:
df_file[df_file["user"] == "scotthamilton"]["text"]

Series([], Name: text, dtype: object)

In [18]:
df_file['text_length'] = df_file['text'].apply(len)
print(df_file[['user', 'text', 'text_length']])

               user                                               text  \
0   _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
0     scotthamilton  is upset that he can't update his Facebook by ...
0          mattycus  @Kenichan I dived many times for the ball. Man...
0           ElleCTF    my whole body feels itchy and like its on fire
0            Karoli  @nationwideclass no, it's not behaving at all....
..              ...                                                ...
4   AmandaMarie1028  Just woke up. Having no school is the best fee...
4       TheWDBoards  TheWDB.com - Very cool to hear old Walt interv...
4            bpbabe  Are you ready for your MoJo Makeover? Ask me f...
4      tinydiamondz  Happy 38th Birthday to my boo of alll time!!! ...
4    RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

    text_length
0           115
0           111
0            89
0            47
0           111
..          ...
4            56
4            78
4            57
4            65
4            62

[1600000 rows x 3 columns]

In [21]:
df_file.head(1000).to_csv('filtered_file.csv', index=False)

In [23]:
mentions_df = df_file[df_file['text'].str.contains(r'@\w+', na=False)]
mentions_df['username'] = mentions_df['text'].str.extract(r'(@\w+)')

# Display the DataFrame with the extracted usernames
print(mentions_df[['user', 'text', 'username']])

               user                                               text  \
0   _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
0          mattycus  @Kenichan I dived many times for the ball. Man...
0            Karoli  @nationwideclass no, it's not behaving at all....
0          joy_wolf                      @Kwesidei not the whole crew
0              coZZ  @LOLTrish hey  long time no see! Yes.. Rains a...
..              ...                                                ...
4         jazzstixx                 @Ms_Hip_Hop im glad ur doing well
4         AgustinaP  @rmedina @LaTati Mmmm  That sounds absolutely ...
4       ChloeAmisha                                  @SCOOBY_GRITBOYS
4         EvolveTom  @Cliff_Forster Yeah, that does work better tha...
4    RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

            username
0        @switchfoot
0          @Kenichan
0   @nationwideclass
0          @Kwesidei
0          @LOLTrish
..               ...
4        @Ms_Hip_Hop
4           @rmedina
4   @SCOOBY_GRITBOYS
4     @Cliff_Forster
4          @theNSPCC

[738493 rows x 3 columns]

C:\Users\gerda\AppData\Local\Temp\ipykernel_21476\812061584.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mentions_df['username'] = mentions_df['text'].str.extract(r'(@\w+)')

In [24]:
# Group by the 'username' column and count occurrences
top_mentions = mentions_df['username'].value_counts().head(10)

# Display the top 10 most mentioned usernames
print(top_mentions)

username
@mileycyrus         4310
@tommcfly           3767
@ddlovato           3259
@DavidArchie        1245
@Jonasbrothers      1238
@DonnieWahlberg     1054
@jordanknight       1046
@mitchelmusso       1031
@JonathanRKnight    1000
@taylorswift13       966
Name: count, dtype: int64

In [30]:
top_mentions[0:3].index

Index(['@mileycyrus', '@tommcfly', '@ddlovato'], dtype='object', name='username')

In [31]:
# Filter the DataFrame where 'username' is one of the top 10
filtered_top_mentions = mentions_df[mentions_df['username'].isin(top_mentions.index)]

# Display the filtered DataFrame
print(filtered_top_mentions[['user', 'text', 'username']])

               user                                               text  \
0    DdubsShellBell  @JonathanRKnight Awww I soo wish I was there t...
0   JenniOnTheBlock        @JonathanRKnight I guess that's a no then.
0          Jana1976  @JonathanRKnight I hate the limited letters,to...
0      MTLarson1224  @DonnieWahlberg I hope i can make it to the au...
0       flowerlilly  @DonnieWahlberg ooh Iï¿½m excited and not even...
..              ...                                                ...
4           pauwlo7  @mileycyrus  well  hello miley  hows life as a...
4         Saraaah_A  @ddlovato i just voted for you and i've drawn ...
4         AmieNKOTB  @DonnieWahlberg We will totally hold ya'll to ...
4         megsmegss  @Jonasbrothers best lyrics on the album= i sta...
4        Marianne_P                    wants the @Jonasbrothers album

            username
0   @JonathanRKnight
0   @JonathanRKnight
0   @JonathanRKnight
0    @DonnieWahlberg
0    @DonnieWahlberg
..               ...
4        @mileycyrus
4          @ddlovato
4    @DonnieWahlberg
4     @Jonasbrothers
4     @Jonasbrothers

[18916 rows x 3 columns]

In [34]:
' '.join(mentions_df[mentions_df['username'] == '@mileycyrus']['text']

SyntaxError: incomplete input (3699066377.py, line 1)